/// Colores
$main-text-color: #52525b;
$main-accent-color: #c9ba62;
$link-color: #bc8a2b;
$link-hv-color: #d09832;
$text-white: #ffffff;

/// Fuentes

$font-13: 0.813rem;     // 13px
$font-14: 0.875rem;     // 14px
$font-15: 0.938rem;     // 15px
$font-16: 1rem;         // 16px
$font-17: 1.063rem;     // 17px
$font-18: 1.125rem;     // 18px
$font-19: 1.188rem;     // 19px
$font-20: 1.25rem;      // 20px

$font-h1: 3rem;      // 36px
$font-h2: 2rem;         // 32px 
$font-h3: 1.8125rem;    // 29px 
$font-h4: 1.625rem;     // 26px 