.hero {
    background: url('../images/casa1.png') rgba(0,0,0, 0.5);
    background-size: cover;
    background-blend-mode: multiply;
    min-height: 80vh;

    h1 {
        color: $text-white;
        font-size: $font-h1;
    }

    .content {
        .searchbox {
            background-color: $text-white;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0.7rem;
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
            padding-left: 1rem;
            padding-right: 1rem;

            .search-btn {
                margin-top: .4rem;
            }
        }

        @include bp-lg {
            .searchbox {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                padding-left: 3rem;
            }
        }
    }
}

